zipp==0.6.0
importlib_metadata==0.19
numpy==1.18.4
docutils==0.15.2
brotli==1.0.9
cffi==1.14.3
cryptography==3.1.1
Cython==0.29.21
ipaddr==2.2.0
keyring==21.4.0
lockfile==0.12.2
lxml==4.5.2
mock==4.0.2
mypy_extensions==0.4.3
olefile==0.46
ordereddict==1.1
protobuf==3.13.0
pyOpenSSL==19.1.0
PyQt5==5.15.1
PySide2==5.15.1
simplejson==3.17.2
typing_extensions==3.7.4.3
wincertstore==0.2
